.card {
    width: 25rem;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 8px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 8px 20px rgba(56, 125, 255, 0.27));
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    margin: 1.5rem;
    background: whitesmoke;
    text-align: center;

    .card-img {
        width: 25rem;

    }
    .card-img:hover {
        opacity: 0.9;
    }

    #site, #code {
        color: #232323;
        font-size: 2rem;
    }
}

.card-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}   