.homepage-container {
    height: 90vh;
    width: 100vw;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)), url('./background.jpg');
    // background-image: url('./background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1, h2 {
        text-shadow: 5px 5px #232323;
        padding-right: 5rem;
        display: flex;
        justify-content: flex-end;
    }

    h1 {
        font-size: 5rem;
        color: whitesmoke;
        padding-top: 20rem;
        box-shadow: 2px 2px #54BE90;
    }

    h2 {
        color: #54BE90;
        margin-top: 1rem;
        font-size: 2rem;
    }

    .hero-btns {
        display: flex;
        justify-content: flex-end;
        margin-top: 2rem;
        padding-right: 5rem;
    }

    @media screen and (max-width: 550px) {
        h1, h2 {
            display: flex;
            justify-content: flex-start;
        }
        h1 {
            padding-top: 15rem;
            font-size: 3.5rem;
        }

        h2 {
            font-size: 1.75rem;
            margin-top: 1.5rem;
        }
    }
}

.circles {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #232323;
    height: 50vh;
}
.circles h3 {
    align-content: center;
    justify-content: center;
    color: #54BE90;
}
.circles p {
    color: white;
    padding: 5px;
    line-height: 1.5;
    padding-bottom: 20px;
}
.semicircle {
    display: flex;
    background-color: #232323;
    flex-direction: row;
}
.half {
    color: white;
    height: 125px;
    width: 250px;
    border-radius: 0 0 125px 125px;
    justify-items: flex-start; 
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #232323;
}