.project-container {
    height: 100vh;

    .project--section {
        display: flex;
        position: relative;
        // position: absolute;
        justify-content: center;
        align-items: center;

        img {
            height: 30rem;
            margin-top: 1.5rem;
        }
    }
    .project--section-btns {
        display: flex;
        justify-content: space-around;
    }

    .right-arrow {
        // position: relative;
        // right: 40%;
        font-size: 3rem;
        z-index: 1;
        cursor: pointer;
        border-radius: 50px;
        border: none;
        color: #232323;
    }
    
    .left-arrow {
        font-size: 3rem;
        z-index: 1;
        cursor: pointer;
        border-radius: 50px;
        border: none;
        color: #232323;
    }
}

.slide {
    // transition-duration: 1.5s ease-in-out;
    opacity: 0.5;
    z-index: 999;
}

.slide-active {
    z-index: 999;
    opacity: 1;
    position: absolute;
    margin-top: 5.15rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    // transition-duration: 1s;
    transition-timing-function: ease-in-out;
    
    .title {
        color: whitesmoke;
        text-align: center;
    }
}

h2 {
    margin: 2.5rem;
    text-align: center;
    font-size: 2rem;
}

.project-info {
    text-align: center;
    padding: 1rem;
    background-color: #54BE90;
    font-size: 120%;

    a {
        text-decoration: none;
        color: whitesmoke;
        text-shadow: 1px 1px #232323;
    }
}
