.aboutsection-container {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;

    h2 {
        margin: 3.75rem;
        text-align: center;
        font-size: 2.2rem;
        text-decoration: 5px underline dotted #54BE90;
    }

    .about-info {
        margin: 0 auto;
        text-align:center;
    }
    
    .about-img, .about-text {
        margin: 1rem;
    }

    .about-img img {
        border-radius: 50%;
        height: 22rem;
        border: 4px solid #54BE90;
        box-shadow: 2px 8px 2px #888888;
    }
}

@media screen and (min-width: 700px) {
    .about-text img {
        width: 650px;
    }
}

@media screen and (min-width: 1200px) {
    .about-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .about-text img{
        width: 120%;
    }
}

@media screen and (max-width: 410px) {
    .about-img, .about-text {
        max-width: 100vw;
    }
    .about-img img {
        max-width: 300px;
        max-height: 300px;
    }
    .about-text {
        max-width: 380px;
        margin: 0 auto;
        overflow: hidden;
    }

    .about-info {
        margin: 0;
    }
}

@media screen and (orientation: portrait) {
    .aboutsection-container {
        max-width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -1rem;
    }

    .about-img, .about-text {
        width: 400px;
        margin: auto;
    }

    .about-img img {
        width: 350px;
    }

    .about-text img {
        width: 450px;
        height: 270px;
    }
}

